p{
	background-color: red;
}

.toggle{
	background-color: blue;
}

button{
	background-color: orange;
}
#red{
	background: red;
}

#blue{
	background: blue;
}

#green{
	background: green;
}

#purple{
	background: purple;
}

#gray{
	background: gray;
}

#fuchsia{
	background: fuchsia;
}

#yellow{
	background: yellow;
}

#content{
	margin-top: 75px;
}

.navbar{
	background-color: #54DDE2;
	font-weight: bold;
}
